<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Bootstrap 插件 css -->
    <link href="/js/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Bootstrap 核心css -->
    <link href="/js/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap TreeView css -->
    <link href="/js/bootstrap-treeview/dist/bootstrap-treeview.min.css" rel="stylesheet">

    <!-- Bootstrap addTabs css -->
    <link href="/js/bootStrap-addTabs/bootstrap.addtabs.css" rel="stylesheet">

    <!-- Bootstrap table css -->
    <link href="/js/bootstrap-table/dist/bootstrap-table.css" rel="stylesheet">
    <!-- bootstrap-datetimepicker css -->
    <link href="/js/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css" rel="stylesheet">

    <!-- bootstrap-dialog css -->
    <link href="/js/bootstrap-dialog/dist/css/bootstrap-dialog.css" rel="stylesheet">
    <!-- bootstrap-fileinput css -->
    <link href="/js/bootstrap-fileinput/css/fileinput.css" rel="stylesheet">
    <script src="/js/css/bootstrap.js"></script>
</head>
<body>

<table class="table" id="file-table" border="1"></table>
<input value="添加" onclick="addUser()" type="button">
<script>
    $("#file-table").bootstrapTable({
        url:"/findAll",
        striped: true,//隔行变色
        showColumns:true,//是否显示 内容列下拉框
        showPaginationSwitch:true,//是否显示 数据条数选择框
        minimumCountColumns:1,//最小留下一个
        showRefresh:true,//显示刷新按钮
        showToggle:true,//显示切换视图
        search:true,//是否显示搜索框
        //  searchOnEnterKey:true,//设置为 true时，按回车触发搜索方法，否则自动触发搜索方法
        pagination:true,//开启分页
        paginationLoop:true,//开启分页无限循环
        pageNumber:1,//当前页数
        pageSize:2,//每页条数
        pageList:[1,2,3,4],//如果设置了分页，设置可供选择的页面数据条数。设置为All 则显示所有记录。
        sidePagination:"server",//
        method:'post',//发送请求的方式
        contentType:"application/x-www-form-urlencoded",//必须的否则条件查询时会乱码
        //得到查询的参数
        queryParams : function(params) {//上传服务器的参数
            var temp = {//如果是在服务器端实现分页，limit、offset这两个参数是必须的
                limit : params.limit, // 每页显示数量
                offset : params.offset, // SQL语句起始索引
                //page : (params.offset / params.limit) + 1, //当前页码
                Name : $('#search_name').val(),
                Tel : $('#search_tel').val()
            };
            return temp;
        },
        columns: [
            {
                checkbox:true,
            },{
                field: 'uid',
                title: '文件编号',
                idField:true,
                width: 100
            },{
                field: 'uname',
                title: '文件标题',
                width: 100
            },{
                field: 'bir',
                title: '创建时间',
                width: 100

            },{
                field: 'sex',
                title: '文件类型',
                width: 100
            },{
                field: 'fileAct',
                title: '操作',
                width: 100,
                formatter:function(value,row,index){
                    var str='<button type="button" class="btn btn-info" onclick="showInfo(\''+row.uid+'\')">删除</button>';
                    str +='<button type="button" class="btn btn-primary" onclick="queryById(\''+row.uid+'\')" >修改</button>';
                    return str;
                }
            }]
    })
    function showInfo(id) {
        $.ajax({
            url:"/deleteUser/"+id,
            success:function () {
                $("#file-table").bootstrapTable("refresh",{pageNumber : 1})
            }
        })
    }
    function addUser() {
        BootstrapDialog.show({
            title: 'Default Title',
            message: $('<div></div>').load('/toaddUser'),
            buttons: [{
                label: '保存',
                action: function(dialog) {
                    $.ajax({
                        type:"post",
                        url:"/addUser",
                        data:$("#fid").serialize(),
                        success:function () {
                            $("#file-table").bootstrapTable("refresh",{pageNumber : 1})
                        }
                    })
                    dialog.setMessage('message 1');
                }
            }, {
                label: 'Title 2',
                action: function(dialog) {
                    //更改弹框标题
                    dialog.setTitle('Title 2');
                }
            }]
        });
    }
    function queryById(id) {
        BootstrapDialog.show({
            title: 'Default Title',
            message: $('<div></div>').load('/queryById/'+id),
            buttons: [{
                label: '保存',
                action: function(dialog) {
                    $.ajax({
                        type:"post",
                        url:"/addUser",
                        data:$("#fid").serialize(),
                        success:function () {
                            $("#file-table").bootstrapTable("refresh",{pageNumber : 1})
                        }
                    })
                    dialog.setMessage('message 1');
                }
            }, {
                label: 'Title 2',
                action: function(dialog) {
                    //更改弹框标题
                    dialog.setTitle('Title 2');
                }
            }]
        });
    }
</script>
</body>
</html>